.content_container {
  height: 100%;
  width: 100%;
  background-color: rgba(24, 24, 24, 1);
}

.content_container_top {
  height: 75%;
}

.background_image {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content_container_bottom {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.form_description {
  margin-top: 10px;
  text-align: center;
  color: rgba(211, 211, 211, 1);
  font-size: 14px !important;
}

.text_area {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 8px;
  background: #222222;
  border: 1.5px solid #434343;
  padding: 8px;
  padding-right: 60px;
  color: #ffffff;
  resize: none;
}

.form_icon {
  position: absolute;
  top: 46%;
  right: 8px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 4px;
  z-index: 1;
}

.deleteClick {
  position: fixed;
  width: 141px;
  height: Hug (31px);
  top: -31px;
  border-radius: 8px;
  background-color: rgba(55, 55, 55, 1);
  z-index: 2;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
  right: -100px;
}

.delete_icon {
  color: rgba(218, 218, 218, 1);
  width: 13.75px !important;
  height: 15px !important;
}

.delete_text {
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 23px !important;
  color: rgba(218, 218, 218, 1);
}

.form_pc {
  background-color: rgba(24, 24, 24, 1);
}

.form_mobile {
  display: none;
}

.form_mobile_input {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 8px;
  background: #222222;
  border: 1.5px solid #434343;
  padding: 8px;
  padding-right: 60px;
  color: #ffffff;
  resize: none;
  margin-left: 10px;
}

.form_mobile_icon {
  position: absolute;
  width: 91px;
  height: Hug (31px);
  right: 20px;
  border-radius: 8px;
  background-color: rgba(55, 55, 55, 1);
  z-index: 2;
  bottom: 20px;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
}

.chat-container {
  width: 100%;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat_form {
  width: 100%;
  left: 460px;
  top: 33px;
  display: flex;
  border-radius: 0px 0px 0px 0px;
  padding: 32px 32px 32px 32px;
  box-sizing: border-box;
}

.avatar {
  width: 44px;
  height: 44px;
  margin-right: 16px;
}

.chat_content {
  width: 100%;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.chat_content_text {
  width: 100%;
  font-weight: 400 !important;
  font-size: 14px !important;
  color: rgba(211, 211, 211, 1);
  white-space: normal;
  word-wrap: break-word;
  hyphens: auto;
}

.loading_container {
  width: 100%;
  left: 460px;
  top: 33px;
  display: flex;
  background: #181818;
  border-radius: 0px 0px 0px 0px;
  padding: 32px 32px 32px 32px;
  box-sizing: border-box;
}

.loading_child {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.loading_item {
  width: 10px;
  height: 10px;
  background-color: #3f5ac8;
  border-radius: 50%;
  animation: bounce 0.6s infinite;
  margin-left: 4px;
}

.loading_avt {
  width: 44px;
  height: 44px;
}

@media (max-width: 900px) {
  .content_container_top {
    min-width: 0px;
    height: 76.5%;
  }

  .content_container_bottom {
    height: 23.5%;
    min-width: 0px;
  }

  .deleteClick {
    right: -8px;
  }
}

@media (max-width: 600px) {
  .content_container_top {
    min-width: 0px;
    height: 72.5%;
  }

  .content_container_bottom {
    height: 27.5%;
    min-width: 0px;
  }

  .deleteClick {
    right: -8px;
  }

  .form_mobile {
    display: block;
    display: flex;
  }

  .form_pc {
    display: none;
  }
}

@media (max-width: 420px) {
  .content_container_top {
    min-width: 0px;
    height: 61.5%;
  }

  .content_container_bottom {
    height: 17.5%;
    min-width: 0px;
  }

  .deleteClick {
    right: -8px;
  }
}

@media (max-width: 320px) {
  .content_container_top {
    min-width: 0px;
    height: 61.5%;
  }

  .content_container_bottom {
    height: 17.5%;
    min-width: 0px;
  }

  .deleteClick {
    right: -8px;
  }
}
